#file types
_ReSharper.*
*.resharper
*.DS_Store
*.tlog
*.vsp
*.psess
*.v11.suo
*.user
*.suo
*.sln
*.xml
*.md
#*.Framework.XML

#specific files
*.sln.GhostDoc.xml
RockJobSchedulerService.Xml
web.[Cc]onnectionStrings.config
desktop.ini
Rock.XML
pageviews.csv
RockLogster.csv
Quartz.xml
README.md
README.markdown
Packages.dgml
StyleCop.Cache

#specific folders
Applications
cc.newspring.*
cc.newspring.Apollos
cc.newspring.CyberSource
cc.newspring.Workflows
cc.newspring.AttendedCheckIn
cc.newspring.*/
Checkin Labels
database
Design Assets
RockWeb/Readme.txt
/Dev Tools/*
/Dev Tools/Sql
Dev Tools
Documentation
DotLiquid
Installers
Labels
libs
packages
Quartz
[Oo]bj/
Rock
Rock.Client
Rock.CodeGeneration
Rock.PayFlowPro
Rock.Plugin
Rock.Rest
Rock.Migrations
Rock.Tests
Rock.Version
RockJobSchedulerService
RockWeb/Cache/*
RockWeb/App_Data/PackageStaging
/scaffolding.config
/Build/*
*.StyleCop
*.json
